---
---
@import 'settings.defaults';
@import 'settings.colors';
@import 'settings.responsive';

@import 'tools.bem';
@import 'tools.responsive';

@import 'base.page';
@import 'base.heading';
@import 'base.forms';

@import 'generic.reset';
@import 'generic.shared';

@import 'objects.wrap';
@import 'objects.layout';
@import 'objects.flag';

@import 'components.nav';
@import 'components.button';
@import 'components.hero';
@import 'components.card';
@import 'components.forms';

@import 'immutable.border-radius';
@import 'immutable.display';
@import 'immutable.spacing';
@import 'immutable.vertical-align';
@import 'immutable.background-color';
@import 'immutable.color';
@import 'immutable.background';
@import 'immutable.type-treatment';
@import 'immutable.heading';
@import 'immutable.float';
@import 'immutable.clearfix';

.width--full {
    width: 100%;
}

.primary-logo,
.secondary-logo {
    max-width: 150px;
}

.filter:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
}

.filter--1:before {
    background-color: $color-1;
}

.filter--2:before {
    background-color: $color-2;
}

.filter--3:before {
    background-color: $color-3;
}

.filter--4:before {
    background-color: $color-4;
}

.filter--5:before {
    background-color: $color-5;
}

.filter--6:before {
    background-color: $color-6;
}

.tag,
.tag > a {
    font-size: 12px;
    padding: 3px 6px;
    color: white !important;
    text-decoration: none;
}

.tag--1 {
    background-color: $color-1;
}

.tag--2 {
    background-color: $color-2;
}

.tag--3 {
    background-color: $color-3;
}

.tag--4 {
    background-color: $color-4;
}

.tag--5 {
    background-color: $color-5;
}

.tag--6 {
    background-color: $color-6;
}

.accordian {
    list-style: none;
    margin: 0;
    
    @include e(item) {
        padding: 12px 24px;
        
        & + & {
            border-top: 1px solid lightgray;
        }
        
        @include m(active) {
            background-color: $color-1;
            color: white;
        }
    }
    
    @include e(icon) {
        position: absolute;
        right: 24px;
        top: 24px;
    }
}

.image-grid {
    width: 100%;
    padding-bottom: 75%;
}

.count::before {
    counter-increment: count;
    content: counter(count);
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
}