---
layout: default
title: Welcome from the Chair
---
{% include page-hero.html %}
<div class="bg-2 p-v--s">
    <div class="wrap wrap--padding">
        <nav>
            <ul class="nav c-white">
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/conference">Welcome</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/programme">Programme</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/speakers">Speakers</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/breakout-sessions">Breakout sessions</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/student-participation">Student participation</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/social">Social</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/booking">Booking</a></li>
            </ul>
        </nav>
    </div>
</div>
{% include sponsor-banner.html %}

<div class="wrap wrap--padding p-t p-b">
   <div class="layout">
       <div class="layout__item layout__item--12-of-12 layout__item--2-of-12@m">
           <img src="{{ site.url }}/images/speaker-9.jpg" alt="" class="b-r-c m-b--s width--3-of-12 width--12-of-12@m">
       </div>
       <div class="layout__item layout__item--12-of-12 layout__item--10-of-12@m">
            <div class="bg-white p b-r">
                <h2 class="h2">Welcome</h2>
                <p>
                2016 is yet another year of change for colleges.  Area reviews, the ability for sixth form colleges to become academies, and devolution deals all mean a changing landscape for further education. Alongside this we face substantial reforms to apprenticeships, technical education routes and to Higher Education...  Now is a time for colleges to stand together, to show our collective strength and impact, and to unite to meet the challenges and opportunities we face.</p>

                <p>The theme for the 2016 Annual Conference and Exhibition is ‘Colleges Mean Business’. Not only does this emphasise the fact that colleges across the country are determined to progress and succeed in the future landscape, it highlights the fact that colleges are businesses that are central to economic growth and productivity locally, regionally and nationally. </p>

                <p>November’s conference therefore has a crucial role in highlighting this critical role of colleges.  Key speakers will be setting out the challenges and opportunities we will all face and explore with us how we might tackle these.  The Conference will discuss what role colleges could and should play and how we can seize opportunities to create a prosperous future for our organisations and our students.</p>

                <p>These conversations will take place in the plenary sessions and also in the breakout sessions across the three days. Your voice is absolutely essential to shape our policy and by sharing and debating the great things that you do and the ideas you have, you will contribute to constantly improving the profile and performance of our sector.</p>

                <p>I look forward to seeing you in Birmingham.</p>

                <p class="f-w--700 m-b--n">Carole Stott MBE, Chair, AoC Board</p>
            </div>
       </div>
   </div>
</div>

<div class="wrap wrap--padding p-t p-b">
    <div class="layout">
        <div class="layout__item layout__item--12-of-12 layout__item--4-of-12@m">
            <div class="card card--l bg-1 c-white bg-s--cover bg-p--50-50 m-b m-b--n@m" style="background-image: url({{ site.url }}/images/card1-bg.jpg);">
                <div class="card__content">
                    <h3 class="h1 l-h--1">Pushing conversation forward</h3>
                    <a href="">Find out more</a>
                </div>
            </div>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--4-of-12@m">
            <div class="card card--l bg-1 c-white bg-s--cover bg-p--50-50 m-b m-b--n@m" style="background-image: url({{ site.url }}/images/card2-bg.jpg);">
                <div class="card__content">
                    <h3 class="h1 l-h--1">Tackling the tough issues, every day</h3>
                    <a href="">Find out more</a>
                </div>
            </div>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--4-of-12@m">
            <div class="card card--l bg-1 c-white m-b m-b--n@m">
                <div class="card__content">
                    <h3 class="h1 l-h--1">Pushing conversation forward</h3>
                    <a href="">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</div>