---
layout: default
title: Speakers
---
{% include page-hero.html %}
<div class="bg-2 p-v--s">
    <div class="wrap wrap--padding">
        <nav>
            <ul class="nav c-white">
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/conference">Welcome</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/programme">Programme</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/speakers">Speakers</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/breakout-sessions">Breakout sessions</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/student-participation">Student participation</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/social">Social</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/booking">Booking</a></li>
            </ul>
        </nav>
    </div>
</div>
{% include sponsor-banner.html %}
<div class="wrap wrap--padding p-t p-b">
    <div class="layout">
        <div class="layout__item layout__item--12-of-12 layout__item--3-of-12@m">
            <img src="{{ site.url }}/images/speaker-1.jpg" alt="" class="m-b width--full">
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m">
           <div class="bg-white p b-r">
            <h2 class="h2">Lucy Adams</h2>
                <p>As Managing Director of Firehouse and a founding partner of Disruptive HR, Lucy challenges and supports organisations to bring 21st century approaches to leadership, management organisation and engagement. </p>
                <p>Lucy was the BBC’s HR Director during one of its most turbulent periods where during her five year tenure she saw four DGs come and go, oversaw the move to the Salford site and coped with numerous, very public crises including executive pay-offs and the Savile scandal.</p>
                <p class="m-b--n">Lucy’s significant experience of leading HR and Internal Communications at major corporations spans over 15 years, including law firm Eversheds.</p>
            </div>
        </div>
    </div>
</div>

<div class="wrap wrap--padding p-t p-b">
    <div class="t-a--c">
        <h2 class="h2 m-b--l">Other speakers</h2>
    </div>
    <div class="layout">
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m layout__item--3-of-12@l">
            <img src="{{ site.url }}/images/speaker-1.jpg" alt="" class="m-b width--full">
            <h4 class="h4">Lucy Adams</h4>
            <p class="m-b--l"><a href="{{ site.url}}/speakers/lucy-adams">Find out more</a></p>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m layout__item--3-of-12@l">
            <img src="{{ site.url }}/images/speaker-2.jpg" alt="" class="m-b width--full">
            <h4 class="h4">Lord Ian Blair QPM MA</h4>
            <p class="m-b--l"><a href="">Find out more</a></p>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m layout__item--3-of-12@l">
            <img src="{{ site.url }}/images/speaker-3.jpg" alt="" class="m-b width--full">
            <h4 class="h4">Nick Boles MP</h4>
            <p class="m-b--l"><a href="">Find out more</a></p>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m layout__item--3-of-12@l">
            <img src="{{ site.url }}/images/speaker-4.jpg" alt="" class="m-b width--full">
            <h4 class="h4">Rianne Chester</h4>
            <p class="m-b--l"><a href="">Find out more</a></p>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m layout__item--3-of-12@l">
            <img src="{{ site.url }}/images/speaker-5.jpg" alt="" class="m-b width--full">
            <h4 class="h4">Dr David Halpern</h4>
            <p class="m-b--l"><a href="">Find out more</a></p>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m layout__item--3-of-12@l">
            <img src="{{ site.url }}/images/speaker-6.jpg" alt="" class="m-b width--full">
            <h4 class="h4">Edward Harringman</h4>
            <p class="m-b--l"><a href="">Find out more</a></p>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m layout__item--3-of-12@l">
            <img src="{{ site.url }}/images/speaker-7.jpg" alt="" class="m-b width--full">
            <h4 class="h4">Charlotte Hill</h4>
            <p class="m-b--l"><a href="">Find out more</a></p>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m layout__item--3-of-12@l">
            <img src="{{ site.url }}/images/speaker-8.jpg" alt="" class="m-b width--full">
            <h4 class="h4">Dr Richard Spencer MBE</h4>
            <p class="m-b--l"><a href="">Find out more</a></p>
        </div>
    </div>
</div>