<div class="p-t--l p-b--l t-a--c bg-4 c-white">
    <h1 class="p-t--l p-b--l m-t--l m-b--l l-s--9 h1">SOCIAL HERE</h1>
</div>
<div class="bg-white p-t p-t--l@m p-b p-b--l@m">
    <div class="wrap wrap--padding">
        <div class="layout">
            <div class="layout__item layout__item--12-of-12 layout__item--4-of-12@m layout__item--3-of-12@l">
                <img src="{{ site.url }}/images/secondary-logo.jpg" alt="" class="secondary-logo">
            </div>
            <div class="layout__item layout__item--12-of-12 layout__item--4-of-12@m layout__item--5-of-12@l">
                <ul class="unlist m-b--n">
                    <li><a href="" class="t-d--n">Terms &amp; Conditions </a></li>
                    <li>© Association of Colleges</li>
                    <li>This event is brought to you by AoC Create Limited</li>
                </ul>
            </div>
            <div class="layout__item layout__item--12-of-12 layout__item--4-of-12@m layout__item--4-of-12@l">
                <p class="m-b--n">If you have any questions regarding this event, please call the conference helpline on 0207 034 9934 or email</p>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ site.url }}/node_modules/tabslet/jquery.tabslet.min.js"></script>
<script>
$(document).ready(function() {
    $('.tabs').tabslet();
    $('.js-secondary-nav-toggle').on('click', function() {
        $('.js-secondary-nav').toggleClass('show');
    });
});
</script>
</body>
</html>

