<div class="bg-1 p-v--s">
    <div class="wrap wrap--padding">
        <div class="clearfix">
            <a href="{{ site.url }}"><img src="{{ site.url }}/images/primary-logo.png" alt="" class="primary-logo d--b f--l"></a>
            <nav class="f--r">
                <ul class="nav c-white" style="top: 3px;">
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/conference">Conference</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/exhibition">Exhibition</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/programme">Programme</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/sponsors">Sponsors</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/social">Social</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/info">Info</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/booking" class="btn btn--small btn--primary">Booking</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>