<div class="bg-1 c-white p-v--s">
    <div class="wrap wrap--padding">
        <div class="clearfix">
            <a href="{{ site.url }}/"><img src="{{ site.url }}/images/primary-logo.png" alt="" class="primary-logo d--b f--l"></a>
            <nav class="f--r" style="top: 3px;">
                <div class="d--n@m t-a--r">
                <p class="m-b--n btn btn--small btn--primary">Menu</p></div>
                <ul class="nav d--n d--b@m">
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/conference">Conference</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/exhibitors">Exhibition</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/student-participation">Students</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/sponsors">Sponsors</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/accommodation">Information</a></li>
                    <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/booking" class="btn btn--small btn--primary">Book a place</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>