<div class="bg-1 p-v--s">
    <div class="wrap wrap--padding">
        <div class="clearfix">
            <a href="/"><img src="/images/primary-logo.png" alt="" class="primary-logo d--b f--l"></a>
            <nav class="f--r">
                <ul class="nav c-white" style="top: 3px;">
                    <li class="nav__item nav__item--spaced"><a href="/conference">Conference</a></li>
                    <li class="nav__item nav__item--spaced"><a href="/exhibition">Exhibition</a></li>
                    <li class="nav__item nav__item--spaced"><a href="/programme">Programme</a></li>
                    <li class="nav__item nav__item--spaced"><a href="/sponsors">Sponsors</a></li>
                    <li class="nav__item nav__item--spaced"><a href="/social">Social</a></li>
                    <li class="nav__item nav__item--spaced"><a href="/info">Info</a></li>
                    <li class="nav__item nav__item--spaced"><a href="/booking" class="btn btn--small btn--primary">Booking</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>