<div class="bg-white p--s d--n d--b@l">
    <div class="wrap">
        <div class="layout">
            <div class="layout__item layout__item--2-of-12 t-a--c"><img src="{{ site.url }}/images/aqa-sponsor-logo.jpg" alt="" height="100px;" class="d--b"></div>
            <div class="layout__item layout__item--2-of-12 t-a--c"><img src="{{ site.url }}/images/ocr-sponsor-logo.jpg" alt="" height="100px;" class="d--b"></div>
            <div class="layout__item layout__item--2-of-12 t-a--c"><img src="{{ site.url }}/images/pearson-sponsor-logo.jpg" alt="" height="100px;" class="d--b"></div>
            <div class="layout__item layout__item--6-of-12 t-a--c"><p class="m-b--n" style="line-height: 50px"><a href="{{ site.url }}/sponsors" class="btn btn--small btn--[
            ]">Find out more about our sponsors</a></p></div>
        </div>
    </div>
</div>