---
layout: default
title: Registration &amp; Booking
---
{% include page-hero.html %}
<div class="bg-2 p-v--s">
    <div class="wrap wrap--padding">
        <nav>
            <ul class="nav c-white">
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/accommodation">Accommodation</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/registration">Registration &amp; booking</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/travel">Travel &amp; location</a></li>
                <li class="nav__item nav__item--spaced"><a href="{{ site.url }}/terms">Terms &amp; conditions</a></li>
            </ul>
        </nav>
    </div>
</div>
{% include sponsor-banner.html %}
<div class="wrap wrap--padding p-t p-b">
    <div class="t-a--c">
        <h2 class="h2 m-b--l">Delegate fees</h2>
    </div>
    <div class="layout">
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m m-b">
            <div class="p bg-white b-r">
            <p class="f-w--700">AoC member colleges</p>
            <ul>
                <li>Full fee* £560 +VAT (£672 incl. VAT)</li>
                <li>Tuesday 17 November - £305 +VAT (£366 incl. VAT)</li>
                <li>Wednesday 18 November - £345 +VAT (£414 incl. VAT)</li>
                <li>Thursday 19 November - £250 +VAT (£300 incl. VAT)</li>
                <li>Gala Dinner ticket - £90 +VAT (£108 incl. VAT)</li>
            </ul>
            <a href="" class="btn btn--primary btn--small">Book your tickets</a>
            </div>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m m-b">
            <div class="p bg-white b-r">
            <p class="f-w--700">AoC affiliate</p>
            <ul>
                <li>Full fee* £675 +VAT (£810 incl. VAT)</li>
                <li>Tuesday 17 November - £335 +VAT (£402 incl. VAT)</li>
                <li>Wednesday 18 November - £385 +VAT (£462 incl. VAT)</li>
                <li>Thursday 19 November - £275 +VAT (£330 incl. VAT)</li>
                <li>Gala Dinner ticket - £100 +VAT (£120 incl. VAT)</li>
            </ul>
            <a href="" class="btn btn--primary btn--small">Book your tickets</a>
            </div>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m m-b m-b--n@m">
            <div class="p bg-white b-r">
            <p class="f-w--700">Non-member: Public Sector</p>
            <ul>
                <li>Full fee* £735 +VAT (£882 incl. VAT)</li>
                <li>Tuesday 17 November - £375 +VAT (£450 incl. VAT)</li>
                <li>Wednesday 18 November - £425 +VAT (£510 incl. VAT)</li>
                <li>Thursday 19 November - £320 +VAT (£384 incl. VAT)</li>
                <li>Gala Dinner ticket - £110 +VAT (£132 incl. VAT)</li>
            </ul>
            <a href="" class="btn btn--primary btn--small">Book your tickets</a>
            </div>
        </div>
        <div class="layout__item layout__item--12-of-12 layout__item--6-of-12@m">
            <div class="p bg-white b-r">
            <p class="f-w--700">Non-member: Commercial</p>
            <ul>
                <li>Full fee* £815 +VAT (£978 incl. VAT)</li>
                <li>Tuesday 17 November - £435 +VAT (£522 incl. VAT)</li>
                <li>Wednesday 18 November - £475 +VAT (£570 incl. VAT)</li>
                <li>Thursday 19 November - £375 +VAT (£450 incl. VAT)</li>
                <li>Gala Dinner ticket - £120 +VAT (£144 incl. VAT)</li>
            </ul>
            <a href="" class="btn btn--primary btn--small">Book your tickets</a>
            </div>
        </div>
    </div>
</div>

<div class="wrap wrap--padding p-t p-b">
    <div class="bg-white p b-r">
        <h3>Discounts available</h3>
        <p>AoC member colleges sending two or more delegates on a full fee package will receive a multiple delegate discount as set out below:</p> 
        <ul>
            <li>Second and third bookings will receive a 15% discount</li>
            <li>Fourth and any subsequent bookings will receive a 20% discount per booking</li>
        </ul>
        <p>To receive this discount, please email annualconference@aoc.co.uk including the names of the booked delegates.</p>
        <p>If you are an Individual Subscriber, please contact annualconference@aoc.co.uk for details on your fees.</p>
        <h3>Payment methods</h3>
        <p>We accept payment by credit card, cheque or BACs transfer. Please note that BACs transfers can only be received once an invoice has been sent. Credit card payments can be made via the website. If you have any problems with your payment please call our Finance Department on 020 7034 9900.</p>
        <p>AoC Create is unable to invoice international delegates. All delegates coming from outside the UK will need to make payment online via credit card at the time of registering or they will not gain access to the conference. AoC Create will not issue visa letters unless payment has been received for the booking.</p>
        <h3>Please note</h3>
        <p>*The full fee, whether for an AoC member, non-member or affiliate organisation, includes a Gala Dinner ticket. However, if delegates are unable to attend the Gala Dinner or should the Gala Dinner be full at the time of booking they will not be entitled to a reduction in the price of the full conference package due to the substantial discount already applied to this rate. **The full fee cannot be split between different delegates; the same delegate must attend the conference for the three days and the Gala Dinner.</p>
        <p>*Accommodation is not included in any package and should be booked via our appointed accommodation agency.</p>
        <p class="m-b--n">*Please ensure you read carefully our terms and conditions, including our cancellation policy.</p>
    </div>
</div>