// # components.button
// ============================================================================
//
// Button object styles

$button-color: $color-accent !default;

$button-padding: $base-spacing-unit / 2 !default;

$button-border-width: 2px !default;

$button-border-radius: 4px !default;

.btn {
    padding: 4px 12px;
    display: inline-block;
    text-decoration: none;
    
    @include m(primary) {
        background-color: $color-5;
        color: #fff !important;
        transition: background-color .5s ease-in-out;
        
        &:hover {
            background-color: darken($color-5, 5%);
        }
    }
    
    @include m(secondary) {
        padding: 3px 11px;
        border: 2px solid $color-5;
        color: $color-5 !important;
        transition: background-color .5s ease-in-out, color .5s ease-in-out;
        
        &:hover {
            background-color: $color-5;
            color: white !important;
        }
    }
}