// # components.card
// ============================================================================
//
// Card component styles

.card {
    padding: 24px;
    
    @include m(s) {
        min-height: 200px;
    }
    
    @include m(l) {
        min-height: 450px;
    }
}