// # immutable.clearfix
// ============================================================================
//
// Immutable clearfix styles

.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}