// # immutable.background-color
// ============================================================================
//
// Immutable background color styles

.bg-primary {
    background-color: $color-primary;
}

.bg-primary--light {
    background-color: $color-primary-light;
}

.bg-primary--dark {
    background-color: $color-primary-dark;
}

.bg-secondary {
    background-color: $color-secondary;
}

.bg-secondary--light {
    background-color: $color-secondary-light;
}

.bg-secondary--dark {
    background-color: $color-secondary-dark;
}

.bg-meta {
    background-color: $color-meta;
}

.bg-meta--light {
    background-color: $color-meta-light;
}

.bg-meta--dark {
    background-color: $color-meta-dark;
}

.bg-white {
    background-color: #ffffff;
}

.bg-1 {
    background-color: $color-1;
}

.bg-2 {
    background-color: $color-2;
}

.bg-3 {
    background-color: $color-3;
}

.bg-4 {
    background-color: $color-4;
}

.bg-5 {
    background-color: $color-5;
}

.bg-6 {
    background-color: $color-6;
}